---
import { getTexturePath, getRarityBackgroundUrl } from '../../utils/textures.js';

const { modules, shopCards, class: className, style: inlineStyle } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;

const backgroundUrl =
  modules?.length > 0
    ? getRarityBackgroundUrl(modules[0].rarity, shopCards, baseUrl)
    : '';
const bgStyle = backgroundUrl ? `background-image: url('${backgroundUrl}');` : '';
const combinedStyle = [bgStyle, inlineStyle].filter(Boolean).join(' ');
---

{modules?.length > 0 && (
  <div class:list={['modules-box', className]} style={combinedStyle || undefined}>
    <div class="modules-box__body">
      {modules.map((module) => {
        const iconSrc = getTexturePath(module.icon_path, baseUrl);
        return (
          <div class="modules-box__slot">
            {iconSrc && <img src={iconSrc} alt={module.name} />}
          </div>
        );
      })}
    </div>
    <span class="modules-box__title">{modules[0].name}</span>
  </div>
)}

<style>
  .modules-box {
    position: relative;
    display: block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
    width: 100%;
    height: var(--module-cell-height, 120px);
    padding-bottom: var(--module-name-strip, 32px);
    box-sizing: border-box;
    overflow: visible;
  }

  .modules-box__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100%;
    overflow: visible;
  }

  .modules-box__slot {
    display: block;
    height: 100%;
    overflow: visible;
    text-align: center;
  }

  .modules-box__slot img {
    display: inline-block;
    height: 100%;
    width: auto;
    max-width: none;
    object-fit: contain;
    vertical-align: middle;
  }

  .modules-box__title {
    position: absolute;
    top: calc(100% - var(--module-name-strip, 32px));
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    font-size: 0.85rem;
    font-weight: 700;
    text-align: center;
    padding: 6px 4px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    color: #fff;
  }
</style>
